- provide :title, "About"
= content_for :active_about, "active"
= content_for :header_title, "About"
= content_for :header_subtitle, "Info about myself"
.row.align-items-center.text-center.h-75
  .col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-12.my-3.card 
    .card-body
      .row
        .col-12.h3
          If you wanna know me,
        .col-12.h4
          join to the
        %a.col-lg-4.offset-lg-4.col-12.h3.mt-3.text-primary.text-uppercase{ href: "https://yeboster.club" }
          %b.text-danger.ttf-regular
            truth
          side
      .row
        .col-lg-2.offset-lg-5.col-2.offset-5.bg-color-grey.border.my-4
        .col-lg-4.offset-lg-4.col-md-4.offset-md-4.col-12
          %svg{ id: "s_logo", preserveAspectratio:"xMinYMin", viewbox: "0 0 7.6 16.1" }
            = render '/shared/s_logo'		          
