- provide :title, "Contact"
= content_for :active_contact, "active"
= content_for :header_title, "Contact"
= content_for :header_subtitle, "Please contact our beloved god via his magic mail"
.row.align-items-center.text-center.h-75
  .col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-12.my-3.card 
    .card-body.py-5
      .row
        .col-12.h3.ttf-bold.text-primary.my-0
          = link_to('admin@yeboster.club', href: "mailto:admin@yeboster.club")