- provide :title, "Error"
-# The only page that does not respect the Truth structure
.col-12.text-center
  .row
    .col-lg-6.offset-lg-3.col-12.display-4.ttf-regular.text-danger.text-uppercase
      Error
  .row
    .col-8.offset-2.card
      .col-12
        = render '/shared/messages'
      .card-body
        .row.my-5
          .col-lg-6.offset-lg-3.col-12.text-secondary
        .row
          .col-12.h4
            If you think there is a mistake, please contact our team from
            %h5.ttf-bold= link_to(' About Page', contact_path)
        .row
          .col-lg-2.offset-lg-5.col-2.offset-5.bg-color-grey.rounded.my-5
          .col-lg-4.offset-lg-4.col-12
            = link_to('Return To Home', root_path, class: "btn btn-lg btn-primary ttf-bold")
