- provide :title, "Help"
= content_for :active_help, "active"
= content_for :header_title, "Help"
= content_for :header_subtitle, "Please contact our beloved god via his magic mail"
.row
  %a.col-lg-4.offset-lg-4.col-12.h3.text-primary{ href: "mailto:admin@yeboster.club" }
    Admin@yeboster.club
.row
  %hr.col-lg-2.offset-lg-5.col-2.offset-5.bg-color-grey.border.my-4
.row
  .col-lg-6.offset-lg-3.col-8.offset-2
    Didn't have any response?
    %br
    = link_to "Page", contact_path, class: "ttf-bold color-primary"