= content_for :active_home, "active"
- if logged_in?
  = content_for :header_title, "Share"
  = content_for :header_subtitle, "Share something important with others"
  = content_for :form_url, posts_path
  - @user ||= current_user
  .col-12
    .row.mb-3.align-items-center
      .col-lg-4.offset-lg-1.col-md-3.col-12
        .card
          .card-body.row.justify-content-center
            = render partial: '/shared/user_info', locals: { user: @user, font_size: 1.5, img_size: :medium }
            = render partial: "/shared/stats", locals: { user: @user, font_size: 1 }
            = render partial: '/shared/user_optionals', locals: { user: @user }
            .col-12.mt-2
              = link_to("View More", @user, class: "btn btn-primary ttf-regular") 
      .col-lg-6.col-md-9.col-12
        = render partial: '/shared/post_form', locals: { post: @post }
    - if @posts.any?
      .row.mb-2
        .col-lg-10.offset-lg-1.col-12.card
          .card-header.row.bg-primary
            .col-12.h2.ttf-regular.text-white.text-uppercase.my-auto
              Recent Posts
          .card-body.px-3.py-3
            %ul.list-unstyled
              = render @posts
            = will_paginate @posts, list_classes: %w(nav justify-content-center mt-4)
        
- else
  = content_for :header_title, "Truth Side"
  = content_for :header_subtitle, "Welcome"
  .col-12
    .row
      .col-lg-10.offset-lg-1.col-md-10.offset-md-1.col-12.my-3.card 
        .card-body
          .h2.mb-4
            This is the most useful and full-featured site.
          .h3.mb-4 
            It is not just the classic blog or social page
          .h4.ttf-bold.text-primary.mb-4.text-capitalize
            This the Truth Side
          = link_to "Sign up now!", signup_path, class: "btn btn-primary ttf-bold"

            