= content_for :header_title, "Log In"
= content_for :header_subtitle, "Welcome back"
.row
  .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-12.mt-5.py-2.card
    .row
      .col-lg-8.offset-lg-2.col-12.my-3.cardbody
        = form_for(:session, url: login_path, class: "row") do |f|
          .form-group
            = f.label :email
            .input-group
              .input-group-prepend
                %span.input-group-text#validationTooltipEmailPrepend
                  = icon('fas', 'envelope', class: "regular")
              = f.email_field :email, class: "form-control is-valid rounded-right"
              .invalid-tooltip
                Please enter an correct email.
          .form-group
            = f.label :password
            .input-group
              .input-group-prepend
                %span.input-group-text#validationTooltipPasswordPrepend
                  = icon('fas', 'key', class: "regular")
              = f.password_field :password, class: "form-control is-valid rounded-right"
              .invalid-tooltip
                Please enter a valid password.
          .form-group.text-left.my-3.w-100
            .custom-control.custom-checkbox
              = f.check_box :remember_me, class: "custom-control-input", id: "remember-checkbox"
              = f.label :remember_me, "Remember me on this device", class: "custom-control-label", for: "remember-checkbox"
          .form-group    
            = f.submit "Submit", class: "btn btn-primary ttf-bold col-4"
        .row.text-center.mt-4
          .col-2.offset-5.bg-color-grey.mb-3     
          .col-6
            New user?
            %br
            = link_to "Sign up now!", signup_path, class: "ttf-bold text-primary"
          .col-6
            Forgot password?
            %br
            = link_to('Reset it!', new_password_reset_path, class: "h8 ttf-bold text-danger")