= content_for :header_title, "Reset Password"
= content_for :header_subtitle, "Please enter your new password"
.row
  .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-12.mt-5.py-2.card
    .row
      .col-lg-8.offset-lg-2.col-12.my-3.cardbody
        = form_for(@user, url: password_reset_path(params[:id]), class: "row") do |f|
          = hidden_field_tag :email, @user.email
          .form-group
            = f.label :password
            .input-group
              .input-group-prepend
                %span.input-group-text#validationTooltipPasswordPrepend
                  = icon('fas', 'key', class: "regular")
              = f.password_field :password, class: "form-control is-valid rounded-right"
              .invalid-tooltip
                Please enter a valid password.
          .form-group
            = f.label :password_confirmation, "Repeat Password"
            .input-group
              .input-group-prepend
                %span.input-group-text#validationTooltipPasswordPrepend
                  = icon('fas', 'key', class: "regular")
              = f.password_field :password_confirmation, class: "form-control is-valid rounded-right"
              .invalid-tooltip
                Please enter the same password.
          .form-group    
            = f.submit "Update password", class: "btn col-4 btn-primary font-weight-bold"