= content_for :header_title, "Reset Password"
= content_for :header_subtitle, "Please enter your email"
.row
  .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-12.card
    .row
      .col-lg-8.offset-lg-2.col-12.my-3.cardbody
        = form_for(:reset_password, url: password_resets_path, class: "row") do |f|
          .form-group
            = f.label :email
            .input-group
              .input-group-prepend
                %span.input-group-text#validationTooltipEmailPrepend
                  @
              = f.text_field :email, class: "form-control is-valid", type: "email"
              .invalid-tooltip
                Please enter an existing email.
          .form-group    
            = f.submit "Submit", class: "btn col-4 btn-primary font-weight-bold"