Hi 
= @user.name+","
Welcome to the Truth Side, the best blog for every truth news!
Before we can join to the beautiful platform, we need to confirm your email.
= "\n\n"
= edit_account_activation_url(@user.activation_token, email: @user.email)
