Hi 
= @user.name+","
You requested a password reset for your account, if you did not, please ignore this email.
If you wanna reset your password, please click on the link below
= "\n\n"
This link will be valid for 2 hours.
= "\n\n"
= link_to('RESET PASSWORD', edit_password_reset_url(@user.reset_token, email: @user.email))