.col-12.mb-1.h5.ttf-regular.text-secondary.text-uppercase
  Profile picture
.col-12
  = form_for @user, url: user_path do |f|
    .col-12.mb-2
      = gravatar_for(@user, clas: "border border-grey")
    .form-group.row.aligns-items-center.my-3
      .col-lg-6.offset-lg-3.col-md-6.offset-md-3.col-10.offset-1.custom-file
        = f.file_field :avatar, class: "custom-file-input", accept: "image/jpeg,image/gif,image/png,image/jpg"
        = f.label :avatar, "Choose a file...", class: "text-left custom-file-label text-truncate", id: "file-label"
    .col-12.my-4.h5.ttf-regular.text-secondary.text-uppercase
      Biography
    .form-group.row
      = f.text_area :bio, class: "form-control is-valid rounded col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-10 offset-1", placeholder: "Write something about yourself..."
      .invalid-tooltip
        The length should be into the range (4-140)
    .form-group.mt-5
      = f.submit "Update", class: "btn btn-primary ttf-bold col-4"
:javascript
  $('#user_avatar').bind('change', function() {
    // update label
    $head = this.files[0].name;
    $('#file-label').text($head);
    var size_mb = this.files[0].size/1024/1024;
    console.log(size_mb);
    if (size_mb > 2.0) {
      console.log("yes");
      alert('Exceeded the maximum file size. Please upload an image below 2 Mb');
    }
  });