= form_for @user, url: yield(:form_url) do |f|
  .form-group
    = f.label :name
    .input-group
      .input-group-prepend
        %span.input-group-text#validationTooltipEmailPrepend
          = icon('fas', 'user', class: "regular")
      = f.text_field :name, class: "form-control is-valid rounded-right"    
      .invalid-tooltip
        Please enter a valid name.
  .form-group
    = f.label :email
    .input-group
      .input-group-prepend
        %span.input-group-text#validationTooltipEmailPrepend
          = icon('fas', 'envelope', class: "regular")
      = f.email_field :email, class: "form-control is-valid rounded-right"
      .invalid-tooltip
        Please enter a correct email.
  .form-group
    = f.label :password
    .input-group
      .input-group-prepend
        %span.input-group-text#validationTooltipPasswordPrepend
          = icon('fas', 'key', class: "regular")
      = f.password_field :password, class: "form-control is-valid rounded-right"
      .invalid-tooltip
        Please enter a valid password.
  .form-group
    = f.label :password_confirmation, "Repeat Password"
    .input-group
      .input-group-prepend
        %span.input-group-text#validationTooltipPasswordPrepend
          = icon('fas', 'key', class: "regular")
      = f.password_field :password_confirmation, class: "form-control is-valid rounded-right"
      .invalid-tooltip
        Please enter the same password.
  .form-group
    = f.submit yield(:button_text), class: "btn btn-primary ttf-bold"