.card
  .card-body
    .card-title.h3.ttf-regular.text-primary
      Hi mate
    .card-subtitle.text-muted
      Feature reminder
    .card-text.mt-2.h5
      I am a small helper that will introduce the site with some useful tips.
      .mt-2.ttf-regular.text-primary
        Let's see the new homepage!
    = link_to('Post it!', root_path, class: "ttf-bold btn btn-primary card-link")