%li
  .col-6.offset-3.card.my-1
    .row.card-body.mx-auto
      .col-12.mb-2
        = gravatar_for(user, size: :medium, clas: "img-fluid border border-grey")
      .col-12.h4.mt-3.ttf-regular.my-auto.text-capitalize            
        = link_to(user.name, user)
      - if current_user.admin? && !current_user?(user)
        .col-2.offset-5.bg-color-grey.border.my-2
        .col-12.ttf-bold.text-uppercase
          = link_to('delete', user, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' })