- provide(:title, "Edit")
- provide(:button_text, "Save changes")
- provide(:form_url, user_path)
= content_for :header_title, "Edit"
= content_for :header_subtitle, "Here you can change your identity"
.row
  .col-lg-5.col-12.mx-auto.mb-2.py-3.card
    .row.card-body
      .col-12.card-title.h4.ttf-regular.text-primary.text-uppercase
        Optional Informations
      = render 'edit_user_optionals'
      
  .col-lg-5.col-12.mx-auto.mb-2.card
    .row.card-body
      .col-lg-10.offset-lg-1.col-md-10.offset-md-1.col-10.offset-1.my-3.text-center
        .h4.ttf-regular.text-primary.text-uppercase
          Important Information
        = render 'form'