- provide :title, 'Users'
= content_for :header_title, "Users"
= content_for :header_subtitle, "Our beloved friends"
.row.align-items-center
  .col-12
    .card
      .card-body.align-center        
        %ul.list-unstyled
          -# THIS IS TOTALLY AWESOME!
          -# a block compacted to the var
          = render @users
        = will_paginate list_classes: %w(nav justify-content-center mt-4)
        