- provide(:title, "Sign Up")
- provide(:button_text, "Create my account")
- provide(:form_url, signup_path)
= content_for :header_title, "Sign Up"
= content_for :header_subtitle, "Here you can start your journey"
.row
  .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-10.offset-1.mt-5.py-2.card
    .cardbody
      .col-lg-10.offset-lg-1.col-md-10.offset-md-1.col-12.mt-2        
        = render 'form'