- provide :title, @user.name
= content_for :form_url, posts_path
= content_for :header_title, "User"

-# Needed because it will show the reminder also on other profile pages even if I'm not the owner
-# Only if the user has not posts
- if correct_user? 
  = content_for :header_subtitle, "Info about Myself"
  - unless current_user.feed.any?
    .row.my-3
      .col-lg-4.offset-lg-4.col-md-6.offset-md-3.col-10.offset-1
        = render 'post_reminder'
- else
  = content_for :header_subtitle, "Info about #{capitalize(@user)}"
.row.mb-2
  .col-lg-6.col-12.card.mx-auto
    .row.card-body.justify-content-center
      = render partial: '/shared/user_info', locals: { user: @user, font_size: 2, img_size: :large }
      = render partial: "/shared/stats", locals: { user: @user, font_size: 1.3 }        
      .row
        .col-12.mt-2
          = render partial: '/shared/user_optionals', locals: { user: @user }
        - if correct_user?
          .col-2.offset-5.bg-color-grey.rounded.mb-4
          .col-12 
            = link_to 'Settings', edit_user_path(@user), class: 'btn btn-primary'
        - else
          .col-2.offset-5.bg-color-grey.rounded.mb-4
          .col-12 
            = render partial: 'follow_form', locals: { user: @user }
  - if correct_user?
    .col-lg-6.col-12.card
      .row.card-body.p-3
        .col-12.card-title.h2.ttf-regular.text-capitalize
          New post
        .col-11.mx-auto
          = render partial: '/shared/post_form', locals: { post: @post }
- if @user.feed.any?
  .row.mb-2
    .col-lg-10.offset-lg-1.col-12.card
      .card-body.p-3
        .h1.mb-2.ttf-regular
          Recent Posts
        - @user.feed.order(created_at: :desc).last(3).each do |post|
          %ul.list-unstyled
            = render partial: '/posts/post', locals: { post: post } 
        - if @user.feed.count >= 3
          .col-12.mt-3.ttf-regular.text-uppercase
            = link_to('Show all', user_posts_path, class: "btn btn-outline-primary align-middle")
                

          
          
