- provide :title, @title
= content_for :header_title, capitalize(@user)
= content_for :header_subtitle, @title
.row.mb-3
  .col-lg-3.col-12.mx-auto
    .card
      .card-body.row.justify-content-center
        = render partial: '/shared/user_info', locals: { user: @user, font_size: 1.5, img_size: :medium }
        = render partial: "/shared/stats", locals: { user: @user, font_size: 1 }
        .col-12.mt-2
          = link_to("Profile", @user, class: "btn btn-primary ttf-regular")
        - if @all_users.any?
          .col-12.mt-2.p-2
            - @all_users.each do |user|
              = link_to(gravatar_for(user, size: :small, clas: "img-fluid border border-primary rounded"), user)
  - if @all_users.any?
    .col-lg-9.col-12.card.p-3
      .card-body.align-center        
        .col-12.h2.ttf-regular.text-primary.text-uppercase.my-auto
          = @title.upcase
        %ul.list-unstyled
          = render @users
        = will_paginate list_classes: %w(nav justify-content-center mt-4)