#message_explanation
  -flash.each do |type,hash|            
    %div.m-3{ class: "alert alert-#{type} text-justify", role: "alert" }
      %h4.alert-heading.ttf-bold
        = hash[0].html_safe
      = hash[1].html_safe