#versionTruthCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "versionTruth", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5#versionTruthLongTitle.modal-title.ttf-regular What's new in this update!
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.my-4
        = news
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).ready(function(){
    $('#versionTruthCenter').modal('show');
  });

