.card.rounded
  .card-body.pb-1
    = form_for post, url: yield(:form_url) do |f|
      .form-group.row.align-items-center
        = f.label :title, class: "col-lg-2 col-md-2 col-12 text-primary ttf-bold mb-0"
        = f.text_field :title, class: "form-control is-valid rounded col-lg-8 col-md-8 col-10 offset-1", placeholder: "Title"
        .invalid-tooltip
          The length should be into the range (4-88)
      .form-group.row.align-items-center
        = f.label :content, class: "col-lg-2 col-md-2 col-12 text-primary ttf-bold mb-0"
        = f.text_area :content, class: "form-control is-valid rounded col-lg-8 col-md-8 col-10 offset-1", placeholder: "Write something interesting..."
        .invalid-tooltip
          The length should be into the range (4-255)
      .form-group.row.aligns-items-center
        .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-10.offset-1.custom-file
          = f.file_field :picture, class: "custom-file-input", accept: "image/jpeg,image/gif,image/png,image/jpg"
          = f.label :picture, "Choose a file...", class: "text-left custom-file-label text-truncate", id: "file-label"
      .form-group
        = f.submit "Post", class: "btn btn-primary ttf-bold col-4"
:javascript
  $('#post_picture').bind('change', function() {
    // update label
    $head = this.files[0].name;
    $('#file-label').text($head);
    var size_mb = this.files[0].size/1024/1024;
    console.log(size_mb);
    if (size_mb > 5.0) {
      console.log("yes");
      alert('Exceeded the maximum file size. Please upload an image below 5 Mb');
    }
  });

    