.row.ttf-regular.w-100{ style: "font-size:#{font_size}em"}
  .col-6
    = link_to("<b id=\"followers\">#{user.followers.count}</b><br>Followers".html_safe, followers_user_path(user))
  .col-6
    = link_to("<b id=\"following\">#{user.following.count}</b><br>Following".html_safe, following_user_path(user))