.col-12= gravatar_for(user, size: img_size, clas: "img-fluid border border-primary rounded")
.col-12.ttf-bold.mt-3
  .list-inline.align-text-bottom
    .list-inline-item.text-primary.mr-2{ style: "font-size: #{font_size}em"}
      = "#{user.name}"
    %span.list-inline-item.text-secondary
      = "#{user.posts.count} Posts"
