.justify-content-center
  %table.mx-auto
    %tbody.text-center
      - user.attributes.each do |attr|          
        - if %w[bio].include?(attr[0])
          %tr
            %td.h5.ttf-regular.text-primary
              = attr[0].upcase
          %tr
            %td.p-3
              = attr[1]