%li{ id: "post-#{post.id}" }
  .col-10.offset-1.card.my-2
    .card-header.row
      .col-12.row.justify-content-center
        = gravatar_for(post.user, size: :small, clas: "img-fluid border border-primary rounded")
        .ttf-bold.ml-2
          = link_to(post.user.name, post.user, class: "text-primary") 
      - if can_delete? post.user
        .col-12.ttf-bold
          = link_to('DELETE', post, method: :delete, class: "text-danger", data: { confirm: "You sure?" })
    .row.card-body.text-center
      - if !post.title.nil?
        .col-12.ttf-bold.float-left.card-title
          = post.title
      .col-12.ttf-regular.card-text
        = post.content
      - if post.picture?
        .col-12.align-center
          = image_tag post.picture.url, class: "img-fluid"
      .col-1.mx-auto.bg-color-grey.rounded.my-2
      .col-12
        %small.text-secondary
          = "#{time_ago_in_words(post.created_at)} ago"