- provide :title, @user.name
= content_for :header_title, @user.name
= content_for :header_subtitle, "All posts"
.row
  .col-lg-10.offset-lg-1.col-12.mx-auto.mb-2.card
    .card-body.align-center.px-3.py-3
      %ul.list-unstyled
        = render @posts
      = will_paginate list_classes: %w(nav justify-content-center mt-4)
