//////////////////////////
// CUSTOM COLORS BOOTSTRAP
//////////////////////////

//  the stylesheet data
$grey: #777;
$light-grey: #cacbce;
$state-danger-text: #D9534F;
$washed-red: #c53b34;
$pinker-red: #dc3545;
$purple: #6762A6;
$light-purple: #c9c3e6;
$cool-green: #28a745;

$theme-colors: (
  "primary": $purple,
  "danger": $pinker-red,
  "success": $cool-green,
);

// .jumbotron {
//   background-color: $light-purple !important;
// }

.bg-color-grey{
  background-color: $light-grey;
}

.bg-light-purple{
  background-color: $light-purple !important;
}



.border-primary{
  border: 1px solid $purple;
}
.border-nav{
  
  border-radius: 14px;
}

.nav-bg{
  background-color: $purple;
}
// IMPORTING NEEDED STUFF
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



html{
 height: 100%;
 body {
 // padding-top: 60 px;
 height: 100%;
 font-family: "Khula Light";
 }
}

section {
 overflow: auto;
}

textarea {
 resize: vertical;
}

.text-center {
 h1 {
 margin-bottom: 10px;
 }
}

/* FONTS */

html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

@font-face{
  font-family: "Khula Light";
  src: font_url("Khula-Light.ttf") format("truetype");
}

@font-face{
  font-family: "Khula Bold";
  src: font_url("Khula-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "Khula Regular";
  src: font_url("Khula-Regular.ttf") format("truetype");
}

.ttf-bold{
  font-family: "Khula Bold";
}

.ttf-light{
  font-family: "Khula Light";
}

.ttf-regular{
  font-family: "Khula Regular";
}

/* typography */

h1, h2, h3, h4, h5, h6 {
 line-height: 1;
}

h1 {
 font-size: 3em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
}

h2 {
 font-size: 1.2em;
 letter-spacing: -1px;
 margin-bottom: 30px;
 text-align: center;
 font-weight: normal;
 color: $grey;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

.nounderline{
 text-decoration: none;
}

.nounderline{
 &:hover{
 text-decoration: none;
 }
}




/* LOGO NAVBAR */

#logo{
 width: 7.5px;
 height: 15px;
 transition: 1s;
 &:hover{
   width: 30px;
   height: 60px;
 }
}


/* LOGO S */

#s_logo{
 width: 5%;
 height: 10%;
 transition: 1s;
 &:hover{
   width: 10%;
   height: 18%;
 }
}

.outerdiv{
 overflow: hidden;
}

/* FORMS */

.field_with_errors {
 @extend .is-valid;
 .form-control {
   border-color: $state-danger-text;
 }
}

.form-control.is-valid { 
  border-color: #ced4da; 
  &:focus{
    border-color: #95999e; 
    box-shadow: 0 0 0 0.2rem rgba(14, 15, 15, 0.1);
  }
}

/* TABLE NO BORDERS */

.borderless{
 tr{
   border-top: hidden;
 }
}

/* DEGUB ENVIRONMENT */

@mixin box_sizing{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.debug_dump{
 clear: both;
 float: left;
 width: 100%;
 margin-top: 45px;
 @include box_sizing;
}