%footer.row.text-center.bg-dark.text-white.rounded-bottom
  .col-12
    .py-4.ttf-light
      This site was created by
      .text-danger.ttf-bold
        Yeboster
      for other examples please visit this
      = link_to "Page", "https://yeboster.club", class: "col-12 text-danger nounderline ttf-bold"