%html
  %head
    %title
      = full_title yield :title
  = render 'layouts/rails_default'
  = render 'layouts/head-links'
  %body.bg-light
    .container-fluid
      - if @news
        = render partial: '/shared/popper', locals: {news: @news}
      = render 'layouts/navbar'
      .row.jumbotron.mb-0.text-center
        .col-12.mb-3
          .row
            .col-12.ttf-regular.text-uppercase.display-4
              = yield :header_title
            .col-12.h2.text-secondary
              = yield :header_subtitle
        .col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-10.mb-2.offset-1
          = render '/shared/messages'
        .col-12
          = yield
      = render 'layouts/footer'
      = debug params if Rails.env.development?
